<!-- Agrega el menú en móviles -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<div id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li>
        <a routerLink="/Inicio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a>
      </li>
      <li>
        <a routerLink="/administracion" class="nav-link scrollto" id="buttonLogin"><i class="bx bx-user-plus"></i><span>Registrar</span></a>
      </li>
      <li>
        <a href="#" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Nosotros</span></a>
      </li>
      <li>
        <a href="#" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a>
      </li>
      <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a>
      </li>
      <li><a href="#" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Ingresar</span></a>
      </li>
    </ul>
  </nav>

</div>
