html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.mensaje{
    font-size: 25px;
    width: 150px;
    height: 20px;
}
.bg_loginIzquierda{

    border: solid;
    border-radius: 1%;
    width: 600px;
    height: 600px;
}
.bg_loginDerecha{
    border: solid;
    color: cornflowerblue;
    border-radius: 1%;
    width: 600px;
    height: 600px;
}
.imgLogin{
    width: 550px;
    height: 550px;
}
.boton_ingresar{
    width:50%; 
    background-color: #007bff;
    height: 40px;
    text-align: center;
}
.campos{
    width: 50%;
    height: 50%;
}
.mensajeIngreso{
    text-align: center;
}