<div class="container">

    <div class="menu">
        <form [formGroup]="fgValidador" (ngSubmit)="GuardarProducto()">
            <!-- Change The Form Method From Here-->
            <div class="card-panel z-depth-5">
                
                <!-- Form Logo Section  -->
    
                <div class="row margin">
                    <div class="col s12 m12 l12 center">
                        <img src="assets/img/productos.svg" class="imgCrearProducto"
                            style="width:100px;">
                        <p class="titleMenuCrearProducto">Crear Producto</p>
                    </div>
                </div>
    
                <!-- Form Username Input Section -->
                <div class="campos">

                    <div>
                        <div class="input-field">
                            <i class="material-icons prefix">bookmark</i>
                            <input class="sizeLabel" formControlName='nombre' type="text" name="username">
                            <label for="username">Ingrese el nombre del producto</label>
                        </div>
                    </div>
        
                    <div>
                        <div class="input-field">
                            <i class="material-icons prefix">attach_money</i>
                            <input class="sizeLabel" formControlName='precio' type="text" name="precio">
                            <label for="precio">Ingrese el precio del producto</label>
                        </div>
                    </div>
        
                    <div>
                        <div class="input-field">
                            <i class="material-icons prefix">camera_alt</i>
                            <input class="sizeLabel" formControlName='imagen' type="text" name="imagen">
                            <label for="imagen">Ingrese la ruta de la imagen del producto</label>
                        </div>
                    </div>
                </div>
                
                <br>
    
                <!-- Form Button Section  -->
    
                <div class="center">
                    <input [disabled]="!fgValidador.valid" type="submit" value="Guardar producto" name="login" class="botonGuardarProducto">
                </div>
    
                <br>
            </div>
        </form>
    </div>
    

</div>