
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Administración - Personas</h1>
      <div class="social-links">
        <a routerLink="/administracion/personas/crear" class="button"><i class='bx bx-plus-medical'></i>Crear</a>
        <a routerLink="/administracion/personas/editar" class="button"><i class='bx bx-edit-alt'></i>Editar</a>
        <a href="#" class="button"><i class='bx bx-trash'></i>Eliminar</a>
      </div>      
    </div>
    <br>
    <hr>
    <div class="container">
        <div class="search">
            <div class="row">
                <div class="col-md-6">
                    <div class="search-1"> <i class='bx bx-search-alt'></i> <input type="text" placeholder="Buscar Persona"> </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="search-2"> <button>Search</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
