<!-- Agrega el menú en móviles -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<div id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>

      <li>
        <a routerLink="/inicio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a>
      </li>

      <li *ngIf ="!sesionIniciada">
        <a routerLink="/seguridad/identificar" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Ingresar</span></a>
      </li>

      <li *ngIf ="sesionIniciada">
        <a routerLink="/administracion/crear" class="nav-link scrollto" id="buttonLogin"><i class="bx bx-cog"></i><span>Administrar|Personas</span></a>
      </li>

      <li *ngIf ="sesionIniciada">
        <a routerLink="/administracion/buscar-producto" class="nav-link scrollto" id="buttonLogin"><i class="bx bx-detail"></i><span>Administrar|Productos</span></a>
      </li>

      <li *ngIf ="sesionIniciada">
        <a routerLink="/seguridad/cambiar-clave" class="nav-link scrollto" id="buttonLogin"><i class="bx bx-detail"></i><span>Cambiar clave</span></a>
      </li>

      <li *ngIf ="sesionIniciada">
        <a routerLink="/seguridad/cerrar-sesion" class="nav-link scrollto" id="buttonLogin"><i class="bx bx-detail"></i><span>Cerrar sesión</span></a>
      </li>

      <li>
        <a href="#" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a>
      </li>

      <li>
        <a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a>
      </li>
  
    </ul>
  </nav>

</div>
